.visionSection {
  background: #fff;
  height: 450px;

  .visionBG {
    position: relative;
    overflow: hidden;
    height: 680px;
    top: -300px;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg,
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.77));

      border-radius: 40px;
      z-index: 1;
    }

    .visionBox {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;
      padding: 50px;
      height: 100%;

      .visionTitle {
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .visionTxt {
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }

    .bannerVideo {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border-radius: 40px;
      overflow: hidden;

      img {
        object-fit: cover;
        border-radius: 40px;
        width: 100%;
        height: 100%;
      }

      video {
        object-fit: cover;
        border-radius: 40px;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .visionSection {
    height: 300px;

    .visionBG {
      height: 600px;
      top: -300px;

      &::before {
        border-radius: 35px;
      }

      .visionBox {
        padding: 50px;

        .visionTitle {
          flex: 0 0 50%;
        }

        .visionTxt {
          flex: 0 0 50%;
        }
      }

      .bannerVideo {
        border-radius: 35px;
        overflow: hidden;

        img {
          border-radius: 35px;
        }

        video {
          border-radius: 35px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .visionSection {
    height: 260px;

    .visionBG {
      height: 550px;
      top: -300px;

      &::before {
        border-radius: 30px;
      }

      .visionBox {
        padding: 40px;

        .visionTitle {
          flex: 0 0 50%;
        }

        .visionTxt {
          flex: 0 0 50%;
        }
      }

      .bannerVideo {
        border-radius: 30px;
        overflow: hidden;

        img {
          border-radius: 30px;
        }

        video {
          border-radius: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .visionSection {
    height: 200px;

    .visionBG {
      height: 500px;
      top: -300px;

      &::before {
        border-radius: 25px;
      }

      .visionBox {
        padding: 25px;

        .visionTitle {
          flex: 0 0 40%;
        }

        .visionTxt {
          flex: 0 0 60%;
        }
      }

      .bannerVideo {
        border-radius: 25px;
        overflow: hidden;

        img {
          border-radius: 25px;
        }

        video {
          border-radius: 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .visionSection {
    height: 160px;

    .visionBG {
      height: 450px;
      top: -300px;

      &::before {
        border-radius: 25px;
      }

      .visionBox {
        padding: 25px;

        .visionTitle {
          flex: 0 0 40%;
        }

        .visionTxt {
          flex: 0 0 60%;
        }
      }

      .bannerVideo {
        border-radius: 25px;
        overflow: hidden;

        img {
          border-radius: 25px;
        }

        video {
          border-radius: 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .visionSection {
    height: 100px;

    .visionBG {
      height: 400px;
      top: -300px;

      &::before {
        border-radius: 25px;
      }

      .visionBox {
        padding: 25px;
        flex-wrap: wrap;

        .visionTitle {
          flex: 0 0 40%;
        }

        .visionTxt {
          flex: 0 0 60%;
        }
      }

      .bannerVideo {
        border-radius: 25px;
        overflow: hidden;

        img {
          border-radius: 25px;
        }

        video {
          border-radius: 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .visionSection {
    height: 100px;

    .visionBG {
      height: 350px;
      top: -250px;

      &::before {
        border-radius: 25px;
      }

      .visionBox {
        padding: 25px;
        flex-wrap: wrap;

        .visionTitle {
          flex: 0 0 100%;
        }

        .visionTxt {
          flex: 0 0 100%;
        }
      }

      .bannerVideo {
        border-radius: 25px;
        overflow: hidden;

        img {
          border-radius: 25px;
        }

        video {
          border-radius: 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .visionSection {
    height: 50px;

    .visionBG {
      height: 350px;
      top: -300px;

      &::before {
        border-radius: 20px;
      }

      .visionBox {
        padding: 20px 0px;
        flex-wrap: wrap;

        .visionTitle {
          flex: 0 0 100%;
        }

        .visionTxt {
          flex: 0 0 100%;
        }
      }

      .bannerVideo {
        border-radius: 20px;
        overflow: hidden;

        img {
          border-radius: 20px;
        }

        video {
          border-radius: 20px;
        }
      }
    }
  }
}