.footerSection {
  padding-top: 100px;

  .contactWapper {
    .MianLogo {
      img {
        margin-bottom: 20px;
      }

      svg {
        margin-bottom: 20px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.18px;
        color: #3a3b3e;
        max-width: 90%;
      }
    }

    .serviceStyle {
      h6 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: -0.165px;
        color: #3a3b3e;
        margin-bottom: 30px;
      }

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          flex: 0 0 50%;

          a {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.17px;
            color: #3a3b3e;
            transition: all 0.3s ease;
            margin-bottom: 5px;
            display: block;

            &:hover {
              color: #0061fe;
              font-weight: 500;
              transition: all 0.3s ease;
            }
          }
        }
      }

      &.servicelast {
        ul {
          li {
            flex: 0 0 100%;
          }
        }
      }
    }

    .footerInfo {
      margin-top: 30px;
      display: flex;
      padding: 30px 0px;
      border-top: 1px solid rgb(58 59 62 / 13%);
      border-bottom: 1px solid rgb(58 59 62 / 13%);

      .itemInfo {
        flex: 0 0 calc(100% / 4);

        .infoName {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 15px;
          letter-spacing: 0.55px;
          text-transform: uppercase;
          color: #0061fe;
          margin-bottom: 10px;

          svg {
            margin-right: 10px;

            path {
              fill: #0061fe;
            }
          }
        }

        .value {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: -0.45px;
          color: #3a3b3e;

          a {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.45px;
            color: #3a3b3e;

            &:hover {
              color: #0061fe;
              font-weight: 500;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }

    .copyrightSection {
      padding: 25px 0px 0px;
      position: relative;
      overflow: hidden;

      .logoTxt {
        position: absolute;
        top: 0px;
        left: 0px;
        font-style: normal;
        font-weight: 700;
        font-size: 300px;
        line-height: 250px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        background: linear-gradient(180deg,
            rgba(0, 97, 254, 0.1) 22.43%,
            rgba(255, 255, 255, 0.1) 107.45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        z-index: 0;

        img {
          width: auto !important;
          height: 170px !important;
          margin: 20px auto 0px;
        }
      }

      .copyRightLinks {
        display: flex;
        align-items: center;
        gap: 10px;

        li {
          border-right: 1px solid #0061fe;
          padding-right: 10px;

          &:last-child {
            border-right: 0px;
          }

          a {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.45px;
            color: #3a3b3e;
            transition: all 0.3s ease;

            &:hover {
              color: #0061fe;
              font-weight: 500;
              transition: all 0.3s ease;
            }
          }
        }
      }

      .copyRightSec {
        position: relative;
        z-index: 2;

        &.RightTxt {
          p {
            text-align: right;
          }
        }

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: -0.45px;
          color: #3a3b3e;
          margin-bottom: 0px;

          a {
            font-weight: 600;
            transition: all 0.3s ease;
            text-decoration: underline;

            &:hover {
              color: #0061fe;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .footerSection {
    padding-top: 100px;

    .contactWapper {
      .MianLogo {
        svg {
          margin-bottom: 20px;
        }

        p {
          font-size: 14px;
          line-height: 20px;
          max-width: 90%;
        }
      }

      .serviceStyle {
        h6 {
          font-size: 18px;
          line-height: 16px;
          margin-bottom: 25px;
        }

        ul {
          li {
            flex: 0 0 50%;

            a {
              font-size: 13px;
              line-height: 30px;
            }
          }
        }

        &.servicelast {
          ul {
            li {
              flex: 0 0 100%;

              a {
                font-size: 13px;
                line-height: 30px;
              }
            }
          }
        }
      }

      .footerInfo {
        margin-top: 30px;
        padding: 30px 0px;

        .itemInfo {
          flex: 0 0 calc(100% / 4);

          .infoName {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 10px;

            svg {
              margin-right: 10px;
            }
          }

          .value {
            font-size: 13px;
            line-height: 24px;

            a {
              font-size: 13px;
              line-height: 24px;
            }
          }
        }
      }

      .copyrightSection {
        padding: 25px 0px 20px;

        .logoTxt {
          position: absolute;
          top: 0px;
          left: 0px;
          font-style: normal;
          font-weight: 700;
          font-size: 260px;
          line-height: 220px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          text-transform: uppercase;
          background: linear-gradient(180deg,
              rgba(0, 97, 254, 0.1) 22.43%,
              rgba(255, 255, 255, 0.1) 107.45%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          z-index: 0;

          img {
            width: auto !important;
            height: 150px !important;
            margin: 20px auto 0px;
          }
        }

        .copyRightLinks {
          gap: 10px;

          li {
            padding-right: 10px;

            a {
              font-size: 14px;
              line-height: 22px;
            }
          }
        }

        .copyRightSec {
          p {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .footerSection {
    padding-top: 80px;

    .contactWapper {
      .MianLogo {
        img {
          margin-bottom: 20px;
          height: 50px;
          width: auto;
        }

        p {
          font-size: 13px;
          line-height: 18px;
          max-width: 90%;
        }
      }

      .serviceStyle {
        h6 {
          font-size: 18px;
          line-height: 16px;
          margin-bottom: 20px;
        }

        ul {
          li {
            flex: 0 0 50%;

            a {
              font-size: 13px;
              line-height: 30px;
            }
          }
        }

        &.servicelast {
          ul {
            li {
              flex: 0 0 100%;

              a {
                font-size: 13px;
                line-height: 30px;
              }
            }
          }
        }
      }

      .footerInfo {
        margin-top: 25px;
        padding: 25px 0px;

        .itemInfo {
          flex: 0 0 calc(100% / 4);

          .infoName {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 10px;

            svg {
              margin-right: 5px;
            }
          }

          .value {
            font-size: 13px;
            line-height: 20px;

            a {
              font-size: 13px;
              line-height: 20px;
            }
          }
        }
      }

      .copyrightSection {
        padding: 20px 0px 20px;

        .logoTxt {
          position: absolute;
          top: 0px;
          left: 0px;
          font-style: normal;
          font-weight: 700;
          font-size: 240px;
          line-height: 200px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          text-transform: uppercase;
          background: linear-gradient(180deg,
              rgba(0, 97, 254, 0.1) 22.43%,
              rgba(255, 255, 255, 0.1) 107.45%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          z-index: 0;

          img {
            width: auto !important;
            height: 150px !important;
            margin: 20px auto 0px;
          }
        }

        .copyRightLinks {
          gap: 10px;

          li {
            padding-right: 5px;

            a {
              font-size: 13px;
              line-height: 20px;
            }
          }
        }

        .copyRightSec {
          p {
            font-size: 13px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .footerSection {
    padding-top: 60px;

    .contactWapper {
      .MianLogo {
        img {
          margin-bottom: 20px;
          width: auto;
          height: 45px;
          width: auto;
        }

        p {
          font-size: 12px;
          line-height: 20px;
          max-width: 100%;
        }
      }

      .serviceStyle {
        h6 {
          font-size: 17px;
          line-height: 16px;
          margin-bottom: 15px;
        }

        ul {
          li {
            flex: 0 0 50%;

            a {
              font-size: 12px;
              line-height: 24px;
            }
          }
        }

        &.servicelast {
          ul {
            li {
              flex: 0 0 100%;

              a {
                font-size: 12px;
                line-height: 24px;
              }
            }
          }
        }
      }

      .footerInfo {
        margin-top: 25px;
        padding: 25px 0px;

        .itemInfo {
          flex: 0 0 calc(100% / 4);

          .infoName {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 10px;

            svg {
              margin-right: 5px;
            }
          }

          .value {
            font-size: 12px;
            line-height: 20px;

            a {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }

      .copyrightSection {
        padding: 20px 0px 20px;

        .logoTxt {
          position: absolute;
          top: 0px;
          left: 0px;
          font-style: normal;
          font-weight: 700;
          font-size: 220px;
          line-height: 160px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          text-transform: uppercase;
          background: linear-gradient(180deg,
              rgba(0, 97, 254, 0.1) 22.43%,
              rgba(255, 255, 255, 0.1) 107.45%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          z-index: 0;

          img {
            width: auto !important;
            height: 130px !important;
            margin: 20px auto 0px;
          }
        }

        .copyRightLinks {
          gap: 10px;

          li {
            padding-right: 5px;

            a {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }

        .copyRightSec {
          p {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .footerSection {
    padding-top: 60px;

    .contactWapper {
      .MianLogo {
        img {
          margin-bottom: 20px;
          width: auto;
          height: 45px;
        }

        p {
          font-size: 12px;
          line-height: 18px;
          max-width: 100%;
        }
      }

      .serviceStyle {
        h6 {
          font-size: 17px;
          line-height: 16px;
          margin-bottom: 15px;
        }

        ul {
          li {
            flex: 0 0 50%;

            a {
              font-size: 12px;
              line-height: 22px;
            }
          }
        }

        &.servicelast {
          ul {
            li {
              flex: 0 0 100%;

              a {
                font-size: 12px;
                line-height: 22px;
              }
            }
          }
        }
      }

      .footerInfo {
        margin-top: 25px;
        padding: 25px 0px;

        .itemInfo {
          flex: 0 0 calc(100% / 4);

          .infoName {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 10px;

            svg {
              margin-right: 5px;
            }
          }

          .value {
            font-size: 12px;
            line-height: 20px;

            a {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }

      .copyrightSection {
        padding: 20px 0px 20px;

        .logoTxt {
          position: absolute;
          top: 0px;
          left: 0px;
          font-style: normal;
          font-weight: 700;
          font-size: 200px;
          line-height: 220px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          text-transform: uppercase;
          background: linear-gradient(180deg,
              rgba(0, 97, 254, 0.1) 22.43%,
              rgba(255, 255, 255, 0.1) 107.45%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          z-index: 0;

          img {
            width: auto !important;
            height: 80px !important;
            margin: 20px auto 0px;
          }
        }

        .copyRightLinks {
          gap: 10px;

          li {
            padding-right: 5px;

            a {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }

        .copyRightSec {
          p {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .footerSection {
    padding-top: 60px;

    .contactWapper {
      .MianLogo {
        svg {
          margin-bottom: 20px;
          width: auto;
          height: 60px;
        }

        p {
          font-size: 13px;
          line-height: 20px;
          max-width: 90%;
        }
      }

      .serviceStyle {
        h6 {
          font-size: 17px;
          line-height: 16px;
          margin-bottom: 15px;
          margin-top: 20px;
        }

        ul {
          li {
            flex: 0 0 50%;

            a {
              font-size: 13px;
              line-height: 26px;
            }
          }
        }

        &.servicelast {
          ul {
            li {
              flex: 0 0 100%;
            }
          }
        }
      }

      .footerInfo {
        margin-top: 25px;
        padding: 25px 0px 0px;
        flex-wrap: wrap;

        .itemInfo {
          flex: 0 0 calc(100% / 2);
          margin-bottom: 20px;

          .infoName {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 10px;

            svg {
              margin-right: 5px;
            }
          }

          .value {
            font-size: 12px;
            line-height: 20px;

            a {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }

      .copyrightSection {
        padding: 20px 0px 20px;

        .logoTxt {
          font-size: 150px;
          line-height: 160px;

          img {
            width: auto !important;
            height: 80px !important;
            margin: 20px auto 0px;
          }
        }

        .copyRightLinks {
          gap: 10px;
          justify-content: center;
          margin-bottom: 10px;
          align-items: center;

          li {
            padding-right: 5px;
            text-align: center;

            a {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }

        .copyRightSec {
          text-align: center;
          margin-top: 20px;

          p {
            font-size: 12px;
            text-align: center !important;
            line-height: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footerSection {
    padding-top: 60px;

    .contactWapper {
      .MianLogo {
        svg {
          margin-bottom: 20px;
          width: auto;
          height: 60px;
        }

        p {
          font-size: 13px;
          line-height: 20px;
          max-width: 90%;
        }
      }

      .serviceStyle {
        h6 {
          font-size: 17px;
          line-height: 16px;
          margin-bottom: 15px;
          margin-top: 20px;
        }

        ul {
          li {
            flex: 0 0 50%;

            a {
              font-size: 13px;
              line-height: 26px;
            }
          }
        }

        &.servicelast {
          ul {
            li {
              flex: 0 0 100%;
            }
          }
        }
      }

      .footerInfo {
        margin-top: 25px;
        padding: 25px 0px 0px;
        flex-wrap: wrap;

        .itemInfo {
          flex: 0 0 calc(100% / 2);
          margin-bottom: 20px;

          .infoName {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 10px;

            svg {
              margin-right: 5px;
            }
          }

          .value {
            font-size: 12px;
            line-height: 20px;

            a {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }

      .copyrightSection {
        padding: 20px 0px 20px;

        .logoTxt {
          font-size: 120px;
          line-height: 100px;

          img {
            width: auto !important;
            height: 80px !important;
            margin: 20px auto 0px;
          }

        }

        .copyRightLinks {
          gap: 10px;
          justify-content: center;
          margin-bottom: 10px;

          li {
            padding-right: 5px;

            a {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }

        .copyRightSec {
          &.RightTxt {
            p {
              text-align: center;
            }
          }

          p {
            font-size: 12px;
            line-height: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .footerSection {
    padding-top: 60px;

    .contactWapper {
      .MianLogo {
        svg {
          margin-bottom: 20px;
          width: auto;
          height: 60px;
        }

        p {
          font-size: 13px;
          line-height: 20px;
          max-width: 90%;
        }
      }

      .serviceStyle {
        h6 {
          font-size: 17px;
          line-height: 16px;
          margin-bottom: 15px;
          margin-top: 20px;
        }

        ul {
          li {
            flex: 0 0 100%;

            a {
              font-size: 13px;
              line-height: 26px;
            }
          }
        }

        &.servicelast {
          ul {
            li {
              flex: 0 0 100%;
            }
          }
        }
      }

      .footerInfo {
        margin-top: 25px;
        padding: 25px 0px 0px;
        flex-wrap: wrap;

        .itemInfo {
          flex: 0 0 calc(100%);
          margin-bottom: 20px;

          .infoName {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 10px;

            svg {
              margin-right: 5px;
            }
          }

          .value {
            font-size: 12px;
            line-height: 20px;

            a {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }

      .copyrightSection {
        padding: 20px 0 20px;

        .logoTxt {
          font-size: 70px;
          line-height: 70px;

          img {
            width: auto !important;
            height: 60px !important;
            margin: 20px auto 20px;
          }
        }

        .copyRightLinks {
          gap: 10px;
          justify-content: center;
          margin-bottom: 10px;

          li {
            padding-right: 5px;

            a {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }

        .copyRightSec {
          &.RightTxt {
            p {
              text-align: center;
            }
          }

          p {
            font-size: 12px;
            line-height: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}