.customerSec {
  padding-bottom: 50px;
  .paddingTop {
    padding-top: 100px;
  }
}
.supportSection {
  .supportList {
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
    max-width: 50%;
    li {
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.558893px;
        color: #fff;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #0061fe;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  .downloadBtn {
    margin: 30px auto 0px;
    border: 0px;
    svg {
      margin-left: 10px;
      width: auto;
      height: 22px;
      path {
        fill: #fff;
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .customerSec {
    padding-bottom: 40px;
    .paddingTop {
      padding-top: 100px;
    }
  }
  .supportSection {
    .supportList {
      margin: 40px auto;
      max-width: 55%;
      li {
        a {
          font-size: 17px;
          line-height: 27px;
        }
      }
    }
    .downloadBtn {
      margin: 30px auto 0px;
      border: 0px;
      svg {
        margin-left: 10px;
        width: auto;
        height: 22px;
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .customerSec {
    padding-bottom: 40px;
    .paddingTop {
      padding-top: 100px;
    }
  }
  .supportSection {
    .supportList {
      margin: 40px auto;
      max-width: 55%;
      li {
        a {
          font-size: 17px;
          line-height: 27px;
        }
      }
    }
    .downloadBtn {
      margin: 30px auto 0px;
      border: 0px;
      svg {
        margin-left: 10px;
        width: auto;
        height: 22px;
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .customerSec {
    padding-bottom: 40px;
    .paddingTop {
      padding-top: 100px;
    }
  }
  .supportSection {
    .supportList {
      margin: 40px auto;
      max-width: 55%;
      li {
        a {
          font-size: 17px;
          line-height: 27px;
        }
      }
    }
    .downloadBtn {
      margin: 30px auto 0px;
      border: 0px;
      svg {
        margin-left: 10px;
        width: auto;
        height: 22px;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .customerSec {
    padding-bottom: 40px;
    .paddingTop {
      padding-top: 100px;
    }
  }
  .supportSection {
    .supportList {
      margin: 40px auto;
      max-width: 50%;
      li {
        a {
          font-size: 17px;
          line-height: 27px;
        }
      }
    }
    .downloadBtn {
      margin: 30px auto 0px;
      border: 0px;
      svg {
        margin-left: 10px;
        width: auto;
        height: 22px;
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .customerSec {
    padding-bottom: 40px;
    .paddingTop {
      padding-top: 100px;
    }
  }
  .supportSection {
    .supportList {
      margin: 40px auto;
      max-width: 70%;
      li {
        a {
          font-size: 17px;
          line-height: 27px;
        }
      }
    }
    .downloadBtn {
      margin: 30px auto 0px;
      border: 0px;
      svg {
        margin-left: 10px;
        width: auto;
        height: 22px;
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .customerSec {
    padding-bottom: 30px;
    margin-top: 50px;
    .paddingTop {
      padding-top: 50px;
    }
  }
  .supportSection {
    .supportList {
      margin: 30px auto;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      li {
        flex: 0 0 100%;
        a {
          font-size: 17px;
          line-height: 27px;
        }
      }
    }
    .downloadBtn {
      margin: 30px auto 0px;
      border: 0px;
      svg {
        margin-left: 10px;
        width: auto;
        height: 22px;
      }
    }
  }
}
