html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-myfont: "Myriad Pro", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-finder: "Finder", var(--font-poppins), sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #000;

  &.active {
    overflow: hidden;

    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.35);
      backdrop-filter: blur(7.5px);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 2;
    }
  }

  .container {
    max-width: 1440px;
  }

  .navIcon {
    display: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;
    }
  }

  .p-100 {
    padding: 100px 0px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-myfont), sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
  }

  h1 {
    font-size: 90px;
    line-height: 80px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 60px;
    line-height: 60px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 50px;
    line-height: 50px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 35px;
    line-height: 45px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: var(--font-poppins), sans-serif;
  }

  ul {
    li {
      font-family: var(--font-poppins), sans-serif;
    }
  }

  .embla_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 100px 0px 0px;
    gap: 15px;

    div {
      cursor: pointer;
      border-radius: 64px;
      background: #090909;
      height: 57px;
      width: 57px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s linear;

      svg {
        width: auto;
        height: 22px;

        path {
          stroke: #7c7c7c;
        }
      }

      &:hover {
        transition: 0.3s linear;
        background: #0061fe;
        border: 1px solid #0061fe;

        svg {
          path {
            stroke: #fff;
          }
        }
      }
    }

    .embla_next {
      transform: rotate(-180deg);
    }
  }

  .borderRadiusTop {
    border-radius: 100px 100px 0px 0px;
  }

  .singleBtn {
    background: #0061fe;
    border-radius: 80px;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: -0.126234px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;

    &.whitebg {
      background: #fff;
      color: #0061fe;
    }

    &:hover {
      transform: translateY(-3px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(120deg,
          transparent,
          rgba(255, 255, 255, 0.3),
          transparent);
      transition: left 0.5s ease;
    }

    &:hover::after {
      left: 100%;
    }
  }

  .twoBtn {
    display: flex;
    gap: 20px;

    &.blackBtn {
      gap: 5px;

      a {
        height: 50px;
        width: 180px;

        &:last-child {
          background: #000;
          color: #fff;
        }
      }
    }

    a {
      background: #0061fe;
      border-radius: 80px;
      width: 200px;
      height: 60px;
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: -0.126234px;
      color: #ffffff;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-3px);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg,
            transparent,
            rgba(255, 255, 255, 0.3),
            transparent);
        transition: left 0.5s ease;
      }

      &:hover::after {
        left: 100%;
      }
    }
  }
}

.bannerImg {
  position: relative;
  height: 450px;
  width: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;

  img {
    object-position: center;
    object-fit: cover;
  }
}

.ProductimgBox {
  position: relative;
  height: auto;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;

  img {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
    object-position: center;
    object-fit: contain;
    display: block;
  }
}

.downloadIcon {
  .icon {
    margin-bottom: 20px;

    a {
      display: flex;
      gap: 20px;
      font-size: 20px;
      color: #fff;
      font-weight: 600;
      align-items: center;

      svg {
        &.downloadIcon {
          path {
            fill: red;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  body {
    .container {
      max-width: 1260px;
    }

    .p-100 {
      padding: 80px 0px;
    }

    h1 {
      font-size: 80px;
      line-height: 70px;
    }

    h2 {
      font-size: 55px;
      line-height: 55px;
    }

    h4 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;
    }

    .borderRadiusTop {
      border-radius: 80px 80px 0px 0px;
    }

    .singleBtn {
      width: 220px;
      height: 55px;
      font-size: 20px;
      line-height: 20px;
    }

    .twoBtn {
      gap: 15px;

      &.blackBtn {
        gap: 5px;

        a {
          height: 50px;
          width: 180px;
        }
      }

      a {
        width: 180px;
        height: 55px;
        padding: 0px 20px;
        font-size: 18px;
        line-height: 18px;
      }
    }
  }

  .bannerImg {
    height: 400px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  body {
    .container {
      max-width: 1200px;
    }

    .p-100 {
      padding: 70px 0px;
    }

    h1 {
      font-size: 75px;
      line-height: 70px;
    }

    h2 {
      font-size: 55px;
      line-height: 55px;
    }

    h4 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 20px;
    }

    .borderRadiusTop {
      border-radius: 70px 70px 0px 0px;
    }

    .singleBtn {
      width: 220px;
      height: 55px;
      font-size: 20px;
      line-height: 20px;
    }

    .twoBtn {
      gap: 15px;

      &.blackBtn {
        gap: 5px;

        a {
          height: 50px;
          width: 180px;
        }
      }

      a {
        width: 200px;
        height: 55px;
        padding: 0px 20px;
        font-size: 17px;
        line-height: 17px;
      }
    }
  }

  .bannerImg {
    height: 400px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  body {
    .container {
      max-width: 1120px;
    }

    .p-100 {
      padding: 60px 0px;
    }

    h1 {
      font-size: 70px;
      line-height: 60px;
    }

    h2 {
      font-size: 50px;
      line-height: 50px;
    }

    h4 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    .borderRadiusTop {
      border-radius: 60px 60px 0px 0px;
    }

    .singleBtn {
      width: 220px;
      height: 50px;
      font-size: 16px;
      line-height: 16px;
    }

    .twoBtn {
      gap: 15px;

      &.blackBtn {
        gap: 5px;

        a {
          height: 50px;
          width: 180px;
        }
      }

      a {
        width: 200px;
        height: 50px;
        padding: 0px 20px;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .bannerImg {
    height: 350px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  body {
    .container {
      max-width: 95%;
    }

    .p-100 {
      padding: 50px 0px;
    }

    h1 {
      font-size: 70px;
      line-height: 60px;
    }

    h2 {
      font-size: 45px;
      line-height: 45px;
    }

    h4 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 20px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    .borderRadiusTop {
      border-radius: 50px 50px 0px 0px;
    }

    .singleBtn {
      width: 200px;
      height: 50px;
      padding: 0px 20px;
      font-size: 16px;
      line-height: 16px;
    }

    .twoBtn {
      gap: 20px;

      &.blackBtn {
        gap: 5px;

        a {
          height: 50px;
          width: 180px;
        }
      }

      a {
        width: 180px;
        height: 50px;
        padding: 0px 20px;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .bannerImg {
    height: 350px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  body {
    .container {
      max-width: 95%;
    }

    .p-100 {
      padding: 50px 0px;
    }

    h1 {
      font-size: 60px;
      line-height: 55px;
    }

    h2 {
      font-size: 40px;
      line-height: 40px;
    }

    h4 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 20px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    .borderRadiusTop {
      border-radius: 50px 50px 0px 0px;
    }

    .singleBtn {
      width: 200px;
      height: 50px;
      font-size: 16px;
      line-height: 16px;
    }

    .twoBtn {
      gap: 20px;

      &.blackBtn {
        gap: 5px;

        a {
          height: 50px;
          width: 180px;
        }
      }

      a {
        width: 180px;
        height: 50px;
        padding: 0px 20px;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .bannerImg {
    height: 300px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    .navIcon {
      z-index: 99;
      justify-content: flex-end;
      display: flex;
      position: relative;

      svg {
        width: 30px;
        height: auto;
      }
    }

    .container {
      max-width: 95%;
    }

    .p-100 {
      padding: 50px 0px;
    }

    h1 {
      font-size: 60px;
      line-height: 55px;
    }

    h2 {
      font-size: 40px;
      line-height: 40px;
    }

    h4 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
    }

    .borderRadiusTop {
      border-radius: 50px 50px 0px 0px;
    }

    .singleBtn {
      width: 200px;
      height: 50px;
      padding: 0px 20px;
      font-size: 16px;
      line-height: 16px;
    }

    .twoBtn {
      gap: 20px;

      &.blackBtn {
        gap: 5px;

        a {
          height: 50px;
          width: 180px;
        }
      }

      a {
        width: 180px;
        height: 50px;
        padding: 0px 20px;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .bannerImg {
    height: 300px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  body {
    .navIcon {
      z-index: 99;
      justify-content: flex-end;
      display: flex;
      position: relative;

      svg {
        width: 30px;
        height: auto;
      }
    }

    .container {
      max-width: 95%;
    }

    .p-100 {
      padding: 50px 0px;
    }

    h1 {
      font-size: 45px;
      line-height: 40px;
    }

    h2 {
      font-size: 35px;
      line-height: 35px;
    }

    h4 {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 10px;
    }

    .borderRadiusTop {
      border-radius: 50px 50px 0px 0px;
    }

    .singleBtn {
      width: 200px;
      height: 50px;
      font-size: 16px;
      line-height: 16px;
    }

    .twoBtn {
      gap: 5px;

      &.blackBtn {
        gap: 5px;

        a {
          height: 50px;
          width: 140px;
        }
      }

      a {
        width: 180px;
        height: 50px;
        padding: 0px 20px;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .bannerImg {
    height: 250px;
  }
}