.tableofContent {
  background: #0061fe;
  border-radius: 20px;
  padding: 25px;
  h4 {
    margin-bottom: 0px;
  }
  li {
    font-style: normal;
    font-weight: 400;
    font-size: 18px !important;
    line-height: 28px !important;
    letter-spacing: -0.165px;
    color: #ffffff !important;
    padding: 20px 0px;
    border-bottom: 1px solid #fff;
  }
}
